{% extends 'base.html.twig' %}

{% block title %}Blocs d'enseignements{% endblock %}

{% block header %}
    <img src= "">
{% endblock %}
{% block body %}
    <div>
        <h2>Blocs d’enseignement</h2>
        <p><Ces blocs sont les piliers du programme. Étant donné qu’ils sont similaires chaque année, ils ne sont pas modifiables 
(on peut simplement faire varier le nombre d’heure et leur description)./p>
    </div>
    {{ form_start(form) }}

    {{ form_end(form) }}

    <div class="interventions-container">
        {% if pagination|length == 0 %}
                <tr>
                    <td colspan="6" class="center">
                        Aucun bloc d'enseignement trouvé.
                    </td>
                </tr>
        {% else %}
        <h2>
            {{ pagination.getTotalItemCount }}
            Bloc{{ pagination.getTotalItemCount > 1 ? 's' : '' }}
        </h2>

        <div class="table-wrapper">
            <table class="interventions-table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Nombre d'heures</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in pagination %}
                        <tr>
                            <td>{{ row.code }}</td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.description }}</td>
                            <td>{{ row.hoursCount }}</td>
                            <td><a href=" {{ path('teaching_block_modifier', { id: row.id }) }}">👁 Accéder à la fiche</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endblock %}

