{% extends 'base.html.twig' %}

{% block title %}Form Module
{% endblock %}

{% block body %}

	{{ form_start(moduleForm, { attr: { id: 'module_form'} } ) }}

	{{ form_row(moduleForm.teaching_block) }}
	{{ form_row(moduleForm.code) }}
	{{ form_row(moduleForm.name) }}
	{{ form_row(moduleForm.hours_count) }}
	{{ form_row(moduleForm.parent) }}
	{{ form_row(moduleForm.description) }}
	{{ form_row(moduleForm.capstone_project)}}

	<button type="submit" class="btn">Ajouter</button>
	{{ form_end(moduleForm) }}

{% endblock %}
