{% extends 'base.html.twig' %}

{% block title %}Form Interventions
{% endblock %}

{% block body %}

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">{{ message }}</div>
	{% endfor %}
	{% for message in app.flashes('info') %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}

	{{ form_start(form, { attr: { id: 'course_form'} } ) }}

	{{ form_row(form.title) }}
	<div class="flex flex-row">
		{{ form_row(form.startDate) }}
		{{ form_row(form.endDate) }}
	</div>
	<div class="flex flex-row">
		{{ form_row(form.module) }}
		{{ form_row(form.interventionType) }}
	</div>
	{{ form_row(form.CourseInstructor) }}
	{{ form_row(form.remotely) }}
	<div class="flex flex-row">
		<button class="px-4 py-2.5 text-white bg-blue-950 font-medium text-base rounded-xl" type="submit" class="btn">Enregistrer les informations</button>
		<a href="{{ path('app_calendar_calendar') }}" class="px-4 py-2.5 text-blue-950 bg-slate-300 font-medium text-base rounded-xl ml-2.5">
			Annuler
		</a>
	</div>
	{{ form_end(form) }}


{% endblock %}
