{% extends 'base.html.twig' %}

{% block title %}Form Interventions{% endblock %}

{% block body %}

    <button class="btn"><a href="{{ path('app_calendar_calendar') }}">X</a></button>
    <form method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('app_calendar_calendar') }}" class="btn"> {{ button_label|default('Annuler') }} </a>
        <button class="btn">{{ button_label|default('Confirmer') }}</button>
        {{ form_end(form) }}

    </form>


{% endblock %}