{% extends 'base.html.twig' %}

{% block title %}Form School Year
{% endblock %}

{% block body %}

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">{{ message }}</div>
	{% endfor %}
	{% for message in app.flashes('info') %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}

	{{ form_start(schoolYearForm, { attr: { id: 'school_year_form'} } ) }}

	{{ form_row(schoolYearForm.name) }}
	{{ form_row(schoolYearForm.startDate) }}
	{{ form_row(schoolYearForm.endDate) }}

	<button type="submit" class="btn">Ajouter</button>
	{{ form_end(schoolYearForm) }}

{% endblock %}
