{% extends 'base.html.twig' %}

{% block title %}Corps enseignant
{% endblock %}

{% block body %}
	<div>
		{% include "Components/sidebar.html.twig" %}
		<div>
			<h2 class="text-blue-950 text-3xl font-medium">Corps enseignant</h2>
			<a href="{{ path('enseignant_ajout') }}" class="px-4 py-2.5 text-white bg-blue-950 font-medium text-base rounded-xl">Ajouter un enseignant</a>
		</div>


		<h2>Filtres</h2>
		{{ include('admin/form/form_instructor.html.twig', { form: form }) }}


		<div class="table-wrapper">
			<table class="interventions-table">
				<thead>
					<tr>
						<th>Nom de famille</th>
						<th>Prénom</th>
						<th>Modules enseignés</th>
						<th>Nombre d'heures</th>
					</tr>
				</thead>
				<tbody>
					{% for i in instructor %}
						<tr>
							<td>{{ i.lastName }}</td>
							<td>{{ i.firstName }}</td>
							<td>{{ i.modules }}</td>
							<td>
								{{ i.totalHours }}h</td>
							<td>
								<a href="{{ path('enseignant_infos', { id: i.id }) }}">Modifier</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
