{% extends 'base.html.twig' %}

{% block title %}Interventions
{% endblock %}

{% block body %}
	<div>
		{% include "Components/sidebar.html.twig" %}
		<div>
			<h2 class="text-blue-950 text-3xl font-medium">Interventions</h2>
			<a href="{{ path('app_add_course')}}" class="px-4 py-2.5 text-white bg-blue-950 font-medium text-base rounded-xl">Ajouter une nouvelle intervention</a>
		</div>
		{{ form_start(form) }}

		{{ form_end(form) }}

		<div class="interventions-container">
			{% if pagination|length == 0 %}
				<tr>
					<td colspan="6" class="center">
						Aucune intervention trouvée.
					</td>
				</tr>
			{% else %}
				<h2>
					{{ pagination.getTotalItemCount }}
					intervention{{ pagination.getTotalItemCount > 1 ? 's' : '' }}
					trouvée{{ pagination.getTotalItemCount > 1 ? 's' : '' }}
					au total
				</h2>

				<div class="table-wrapper">
					<table class="interventions-table">
						<thead>
							<tr>
								<th>Date de l’intervention</th>
								<th>Module & titre</th>
								<th>Type</th>
								<th>Intervenants</th>
								<th>En visio</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for row in pagination %}
								<tr>
									<td>{{ row.startDate|date('d/m/Y H:i') }}</td>
									<td>{{ row.moduleName }}</td>
									<td>{{ row.interventionType }}</td>
									<td>{{ row.intervenants }}</td>
									<td class="center">
										{% if row.remotely %}🎥
										{% endif %}
									</td>
									<td>
										<a href="{{ path('app_edit_course', {'id': row.id}) }}">👁 Accéder à la fiche</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endif %}
		</div>
		<div class="pagination">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
